<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tertulia</title>
    <link rel="stylesheet" href="../static/chat.css">
</head>
<body>
    <div class="main">
        <div class="sidebar">
            <ul>
                <li><img class="icono" src="../static/Añadir_canal.png" alt=""></li>
                <li><img class="icono" src="../static/Explorar_canal.png" alt=""></li>
            </ul>
        </div>
        <div class="section">
            <div class="msgs"></div>
            <div class="user">
                <img src="../static/user_default.png" alt="" class="icono">
                <h2>User</h2>
            </div>
        </div>
        <div class="screen">
            <p>Aún no te has unido a un servidor <br>
                Intenta buscar uno o crea uno propio</p>
            <img src="./imgs/empty.jpg" alt="">
        </div>
    </div>
</body>
</html>


<!-- {{ url_for('static', filename='chat.css') }} -->